<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.botsentence.dao.ext.BotSentenceIntentExtMapper" >
  
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
    insert into bot_sentence_intent (`name`, industry, 
      template_id, process_id, crt_time, 
      crt_user, lst_update_time, lst_update_user, 
      keywords,for_select,domain_name,old_id)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
        (
        #{item.name},
        #{item.industry},
        #{item.templateId},
        #{item.processId},
        #{item.crtTime},
        #{item.crtUser},
        #{item.lstUpdateTime},
        #{item.lstUpdateUser},
        #{item.keywords},
        #{item.forSelect},
        #{item.domainName},
        #{item.oldIntentId}
        )
    </foreach>
    
</insert>
  
</mapper>