<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.botsentence.dao.ext.BotSentenceTradeExtMapper" >
  
  <select id="queryParentIdList" resultType="String">
 		select distinct parent_id from bot_sentence_trade where industry_id in(
			select industry_id from user_account_trade_relation where account_no=#{accountNo}
		)
 	</select>
  
  <select id="queryParentIdListByTemplateIdList" resultType="String" parameterType="java.util.List" >
 	SELECT
    	distinct
    	t2.parent_id
	FROM
    	bot_sentence_template t1,
    	bot_sentence_trade t2
	WHERE
    	t1.industry_id=t2.industry_id
	AND t1.template_id IN 
	<foreach collection="list" item="templateIdList" index="index" open="(" close=")" separator=",">
	  #{templateIdList}
	</foreach>
 	</select>
  
</mapper>