<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.robot.dao.TtsWavHisMapper" >
  <resultMap id="BaseResultMap" type="com.guiji.robot.dao.entity.TtsWavHis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seq_id" property="seqId" jdbcType="VARCHAR" />
    <result column="busi_id" property="busiId" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="req_params" property="reqParams" jdbcType="VARCHAR" />
    <result column="tts_txt_json_data" property="ttsTxtJsonData" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
    <result column="error_type" property="errorType" jdbcType="INTEGER" />
    <result column="error_try_num" property="errorTryNum" jdbcType="INTEGER" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.guiji.robot.dao.entity.TtsWavHis" extends="BaseResultMap" >
    <result column="tts_json_data" property="ttsJsonData" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seq_id, busi_id, template_id, req_params, tts_txt_json_data, `status`, error_msg, 
    error_type, error_try_num, crt_time
  </sql>
  <sql id="Blob_Column_List" >
    tts_json_data
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tts_wav_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tts_wav_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" >
    delete from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.robot.dao.entity.TtsWavHis" keyProperty="id" useGeneratedKeys="true">
    insert into tts_wav_his (id, seq_id, busi_id, 
      template_id, req_params, tts_txt_json_data, 
      `status`, error_msg, error_type, 
      error_try_num, crt_time, tts_json_data
      )
    values (#{id,jdbcType=INTEGER}, #{seqId,jdbcType=VARCHAR}, #{busiId,jdbcType=VARCHAR}, 
      #{templateId,jdbcType=VARCHAR}, #{reqParams,jdbcType=VARCHAR}, #{ttsTxtJsonData,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{errorMsg,jdbcType=VARCHAR}, #{errorType,jdbcType=INTEGER}, 
      #{errorTryNum,jdbcType=INTEGER}, #{crtTime,jdbcType=TIMESTAMP}, #{ttsJsonData,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    insert into tts_wav_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seqId != null" >
        seq_id,
      </if>
      <if test="busiId != null" >
        busi_id,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="reqParams != null" >
        req_params,
      </if>
      <if test="ttsTxtJsonData != null" >
        tts_txt_json_data,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="errorType != null" >
        error_type,
      </if>
      <if test="errorTryNum != null" >
        error_try_num,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
      <if test="ttsJsonData != null" >
        tts_json_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seqId != null" >
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="reqParams != null" >
        #{reqParams,jdbcType=VARCHAR},
      </if>
      <if test="ttsTxtJsonData != null" >
        #{ttsTxtJsonData,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="errorType != null" >
        #{errorType,jdbcType=INTEGER},
      </if>
      <if test="errorTryNum != null" >
        #{errorTryNum,jdbcType=INTEGER},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ttsJsonData != null" >
        #{ttsJsonData,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.robot.dao.entity.TtsWavHisExample" resultType="java.lang.Integer" >
    select count(*) from tts_wav_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tts_wav_his
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seqId != null" >
        seq_id = #{record.seqId,jdbcType=VARCHAR},
      </if>
      <if test="record.busiId != null" >
        busi_id = #{record.busiId,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId != null" >
        template_id = #{record.templateId,jdbcType=VARCHAR},
      </if>
      <if test="record.reqParams != null" >
        req_params = #{record.reqParams,jdbcType=VARCHAR},
      </if>
      <if test="record.ttsTxtJsonData != null" >
        tts_txt_json_data = #{record.ttsTxtJsonData,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.errorMsg != null" >
        error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.errorType != null" >
        error_type = #{record.errorType,jdbcType=INTEGER},
      </if>
      <if test="record.errorTryNum != null" >
        error_try_num = #{record.errorTryNum,jdbcType=INTEGER},
      </if>
      <if test="record.crtTime != null" >
        crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ttsJsonData != null" >
        tts_json_data = #{record.ttsJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tts_wav_his
    set id = #{record.id,jdbcType=INTEGER},
      seq_id = #{record.seqId,jdbcType=VARCHAR},
      busi_id = #{record.busiId,jdbcType=VARCHAR},
      template_id = #{record.templateId,jdbcType=VARCHAR},
      req_params = #{record.reqParams,jdbcType=VARCHAR},
      tts_txt_json_data = #{record.ttsTxtJsonData,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER},
      error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      error_type = #{record.errorType,jdbcType=INTEGER},
      error_try_num = #{record.errorTryNum,jdbcType=INTEGER},
      crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      tts_json_data = #{record.ttsJsonData,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tts_wav_his
    set id = #{record.id,jdbcType=INTEGER},
      seq_id = #{record.seqId,jdbcType=VARCHAR},
      busi_id = #{record.busiId,jdbcType=VARCHAR},
      template_id = #{record.templateId,jdbcType=VARCHAR},
      req_params = #{record.reqParams,jdbcType=VARCHAR},
      tts_txt_json_data = #{record.ttsTxtJsonData,jdbcType=VARCHAR},
      `status` = #{record.status,jdbcType=INTEGER},
      error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      error_type = #{record.errorType,jdbcType=INTEGER},
      error_try_num = #{record.errorTryNum,jdbcType=INTEGER},
      crt_time = #{record.crtTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    update tts_wav_his
    <set >
      <if test="seqId != null" >
        seq_id = #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        busi_id = #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="reqParams != null" >
        req_params = #{reqParams,jdbcType=VARCHAR},
      </if>
      <if test="ttsTxtJsonData != null" >
        tts_txt_json_data = #{ttsTxtJsonData,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="errorType != null" >
        error_type = #{errorType,jdbcType=INTEGER},
      </if>
      <if test="errorTryNum != null" >
        error_try_num = #{errorTryNum,jdbcType=INTEGER},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ttsJsonData != null" >
        tts_json_data = #{ttsJsonData,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    update tts_wav_his
    set seq_id = #{seqId,jdbcType=VARCHAR},
      busi_id = #{busiId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      req_params = #{reqParams,jdbcType=VARCHAR},
      tts_txt_json_data = #{ttsTxtJsonData,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      error_type = #{errorType,jdbcType=INTEGER},
      error_try_num = #{errorTryNum,jdbcType=INTEGER},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      tts_json_data = #{ttsJsonData,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.robot.dao.entity.TtsWavHis" >
    update tts_wav_his
    set seq_id = #{seqId,jdbcType=VARCHAR},
      busi_id = #{busiId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      req_params = #{reqParams,jdbcType=VARCHAR},
      tts_txt_json_data = #{ttsTxtJsonData,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=INTEGER},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      error_type = #{errorType,jdbcType=INTEGER},
      error_try_num = #{errorTryNum,jdbcType=INTEGER},
      crt_time = #{crtTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>