<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.callcenter.daoNoSharing.StastisticReportLineMapper" >


    <select id="getLineMonitorReportByLineId" resultType="com.guiji.callcenter.dao.entityext.LineMonitorRreport">

        SELECT
        m.line_id AS lineId,
        IFNULL(SUM(m.answer_num),0) AS answerNum,
        IFNULL(SUM(m.total_num),0) AS totalNum,
        0 AS low,0 AS high,
        IFNULL(SUM(m.answer_num)/SUM(m.total_num),0) AS rate
        FROM report_line_status m
        WHERE m.create_time >=#{startTime}
        AND m.line_id = #{lineId}

        <if test="authLevel ==1" >
            AND m.user_id = #{userId}
        </if>
        <if test="authLevel ==2" >
            AND m.org_code = #{orgCode}
        </if>
        <if test="authLevel ==3" >
            AND m.org_code like CONCAT(#{orgCode},'%')
        </if>
        GROUP BY m.line_id
    </select>


    <select id="getLineMonitorReportByUserId" resultType="com.guiji.callcenter.dao.entityext.LineMonitorRreport">
        SELECT a.*,
        b.line_name AS lineName,b.sip_ip,b.sip_port
        FROM
        (  SELECT
            m.line_id AS lineId,
            IFNULL(SUM(m.answer_num),0) AS answerNum,
            IFNULL(SUM(m.total_num),0) AS totalNum,
            0 AS low,0 AS high,
            IFNULL(SUM(m.answer_num)/SUM(m.total_num),0) AS rate
            FROM report_line_status m
            WHERE m.create_time >=#{startTime}
            <if test="authLevel ==1" >
                AND m.user_id = #{userId}
            </if>
            <if test="authLevel ==2" >
                AND m.org_code = #{orgCode}
            </if>
            <if test="authLevel ==3" >
                AND m.org_code like CONCAT(#{orgCode},'%')
            </if>
            GROUP BY m.line_id
        )a,line_info b
        WHERE a.lineId = b.line_id
    </select>

    <select id="getLineHangupCodeOverView" resultType="java.util.Map">

        select
        sum(answer_calls) as answeredCalls,
        sum(total_calls) as totalCalls,
        sum(is_cancel) as cancelledCalls,
        sum(answer_calls)/sum(total_calls) as answerRate,
        sum(is_cancel)/sum(total_calls) as cancelledRate,
        sum(total_calls) - sum(answer_calls) - sum(is_cancel) as othersCalls
        from report_line_code
        where
        line_id = #{lineId}

        <if test="authLevel ==1" >
            AND user_id = #{userId}
        </if>
        <if test="authLevel ==2" >
            AND org_code = #{orgCode}
        </if>
        <if test="authLevel ==3" >
            AND org_code like CONCAT(#{orgCode},'%')
        </if>
        and create_time >=#{startTime}
        <if test="enTime != null" >
            and create_time &lt;= #{enTime}
        </if>

    </select>

    <select id="getLineHangupCodeErrorSum" resultType="java.util.Map">

        select
        hangup_code,
        sum(total_calls) as totalCalls
        from report_line_code
        where
        line_id = #{lineId}
        <if test="authLevel ==1" >
            AND user_id = #{userId}
        </if>
        <if test="authLevel ==2" >
            AND org_code = #{orgCode}
        </if>
        <if test="authLevel ==3" >
            AND org_code like CONCAT(#{orgCode},'%')
        </if>
        and create_time >=#{startTime}
        <if test="enTime != null" >
            and create_time &lt;= #{enTime}
        </if>
        and hangup_code is not null
        group by hangup_code

    </select>

    <select id="getLineHangupCodeErrorNums" resultType="java.util.Map">

        select
        hangup_code as error,
        group_concat(phone_num) as num
        from report_line_code
        where
        line_id = #{lineId}
        and create_time >=#{startTime}
        <if test="enTime != null" >
            and create_time &lt;= #{enTime}
        </if>
        <if test="authLevel ==1" >
            AND user_id = #{userId}
        </if>
        <if test="authLevel ==2" >
            AND org_code = #{orgCode}
        </if>
        <if test="authLevel ==3" >
            AND org_code like CONCAT(#{orgCode},'%')
        </if>
        and hangup_code is not null
        group by hangup_code
    </select>

    <select id="getLineHangupCodeErrorNumsCancel" resultType="java.util.Map">
        select
        '超时' as error,
        ifnull(group_concat(phone_num),'') as num
        from report_line_code
        where
        line_id = #{lineId}
        and create_time >=#{startTime}
        <if test="enTime != null" >
            and create_time &lt;= #{enTime}
        </if>
        <if test="authLevel ==1" >
            AND user_id = #{userId}
        </if>
        <if test="authLevel ==2" >
            AND org_code = #{orgCode}
        </if>
        <if test="authLevel ==3" >
            AND org_code like CONCAT(#{orgCode},'%')
        </if>
        and  is_cancel = 1

    </select>

    <delete id="deleteReportLineCode">
        delete from report_line_code
        WHERE
        create_time = #{createTime}
    </delete>
    <delete id="deleteReportLineStatus">
        delete from report_line_status
        WHERE
        create_time = #{createTime}
    </delete>

    <insert id="insertReportLineCodeBatch" parameterType="java.util.List">
        INSERT INTO  report_line_code (
        create_time,line_id,hangup_code,is_cancel,total_calls,answer_calls,phone_num,org_code,user_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.createTime}, #{item.lineId}, #{item.hangupCode},
            #{item.isCancel}, #{item.totalCalls}, #{item.answerCalls},
            #{item.phoneNum}, #{item.orgCode}, #{item.userId}
            )
        </foreach>
    </insert>

    <select id="selectReportLineStatusFromCode" resultType="com.guiji.callcenter.dao.entity.ReportLineStatus">
        SELECT
        line_id as lineId,
        org_code as orgCode,
        sum(total_calls) as totalNum,
        sum(answer_calls) as answerNum,
        sum(answer_calls)/sum(total_calls) as rate,
        create_time as createTime,
        user_id as userId
        FROM
        report_line_code
        WHERE
        create_time = #{createTime}
        GROUP BY line_id,org_code,user_id
    </select>

    <insert id="insertReportLineStatusBatch" parameterType="java.util.List">
        INSERT INTO  report_line_status (
        line_id,answer_num,total_num,rate,create_time,org_code,user_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.lineId}, #{item.answerNum}, #{item.totalNum},
            #{item.rate}, #{item.createTime}, #{item.orgCode}, #{item.userId}
            )
        </foreach>
    </insert>

    <delete id="deleteReportLineCodeDaysAgo">
        delete from report_line_code
        WHERE
        create_time &lt; DATE_ADD(NOW(),INTERVAL - #{days} DAY)
    </delete>
    <delete id="deleteReportLineStatusDaysAgo">
        delete from report_line_status
        WHERE
        create_time &lt; DATE_ADD(NOW(),INTERVAL - #{days} DAY)
    </delete>
    <delete id="deleteCallLineResultDaysAgo">
        delete from  call_line_result
        WHERE
        create_time &lt; DATE_ADD(NOW(),INTERVAL - #{days} DAY)
    </delete>
</mapper>