<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.da.dao.RobotCallHisMapper" >
  <resultMap id="BaseResultMap" type="com.guiji.da.dao.entity.RobotCallHis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="seq_id" property="seqId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="ai_no" property="aiNo" jdbcType="VARCHAR" />
    <result column="phone_no" property="phoneNo" jdbcType="VARCHAR" />
    <result column="assign_time" property="assignTime" jdbcType="TIMESTAMP" />
    <result column="call_date" property="callDate" jdbcType="VARCHAR" />
    <result column="template_id" property="templateId" jdbcType="VARCHAR" />
    <result column="call_status" property="callStatus" jdbcType="INTEGER" />
    <result column="is_tts" property="isTts" jdbcType="BIT" />
    <result column="dialogCount" property="dialogcount" jdbcType="INTEGER" />
    <result column="industry" property="industry" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="INTEGER" />
    <result column="intent_level" property="intentLevel" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="call_wav" property="callWav" jdbcType="VARCHAR" />
    <result column="crt_date" property="crtDate" jdbcType="VARCHAR" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, seq_id, user_id, org_code, ai_no, phone_no, assign_time, call_date, template_id, 
    call_status, is_tts, dialogCount, industry, model_id, intent_level, reason, call_wav, 
    crt_date, crt_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guiji.da.dao.entity.RobotCallHisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from robot_call_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from robot_call_his
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from robot_call_his
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.da.dao.entity.RobotCallHisExample" >
    delete from robot_call_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.da.dao.entity.RobotCallHis" >
    insert into robot_call_his (id, seq_id, user_id, 
      org_code, ai_no, phone_no, 
      assign_time, call_date, template_id, 
      call_status, is_tts, dialogCount, 
      industry, model_id, intent_level, 
      reason, call_wav, crt_date, 
      crt_time)
    values (#{id,jdbcType=INTEGER}, #{seqId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{orgCode,jdbcType=VARCHAR}, #{aiNo,jdbcType=VARCHAR}, #{phoneNo,jdbcType=VARCHAR}, 
      #{assignTime,jdbcType=TIMESTAMP}, #{callDate,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, 
      #{callStatus,jdbcType=INTEGER}, #{isTts,jdbcType=BIT}, #{dialogcount,jdbcType=INTEGER}, 
      #{industry,jdbcType=VARCHAR}, #{modelId,jdbcType=INTEGER}, #{intentLevel,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{callWav,jdbcType=VARCHAR}, #{crtDate,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.da.dao.entity.RobotCallHis" >
    insert into robot_call_his
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="seqId != null" >
        seq_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orgCode != null" >
        org_code,
      </if>
      <if test="aiNo != null" >
        ai_no,
      </if>
      <if test="phoneNo != null" >
        phone_no,
      </if>
      <if test="assignTime != null" >
        assign_time,
      </if>
      <if test="callDate != null" >
        call_date,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="callStatus != null" >
        call_status,
      </if>
      <if test="isTts != null" >
        is_tts,
      </if>
      <if test="dialogcount != null" >
        dialogCount,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
      <if test="intentLevel != null" >
        intent_level,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="callWav != null" >
        call_wav,
      </if>
      <if test="crtDate != null" >
        crt_date,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="seqId != null" >
        #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="aiNo != null" >
        #{aiNo,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null" >
        #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callDate != null" >
        #{callDate,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="callStatus != null" >
        #{callStatus,jdbcType=INTEGER},
      </if>
      <if test="isTts != null" >
        #{isTts,jdbcType=BIT},
      </if>
      <if test="dialogcount != null" >
        #{dialogcount,jdbcType=INTEGER},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=INTEGER},
      </if>
      <if test="intentLevel != null" >
        #{intentLevel,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="callWav != null" >
        #{callWav,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        #{crtDate,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.da.dao.entity.RobotCallHisExample" resultType="java.lang.Integer" >
    select count(*) from robot_call_his
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update robot_call_his
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.seqId != null" >
        seq_id = #{record.seqId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgCode != null" >
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.aiNo != null" >
        ai_no = #{record.aiNo,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNo != null" >
        phone_no = #{record.phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.assignTime != null" >
        assign_time = #{record.assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.callDate != null" >
        call_date = #{record.callDate,jdbcType=VARCHAR},
      </if>
      <if test="record.templateId != null" >
        template_id = #{record.templateId,jdbcType=VARCHAR},
      </if>
      <if test="record.callStatus != null" >
        call_status = #{record.callStatus,jdbcType=INTEGER},
      </if>
      <if test="record.isTts != null" >
        is_tts = #{record.isTts,jdbcType=BIT},
      </if>
      <if test="record.dialogcount != null" >
        dialogCount = #{record.dialogcount,jdbcType=INTEGER},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=VARCHAR},
      </if>
      <if test="record.modelId != null" >
        model_id = #{record.modelId,jdbcType=INTEGER},
      </if>
      <if test="record.intentLevel != null" >
        intent_level = #{record.intentLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.callWav != null" >
        call_wav = #{record.callWav,jdbcType=VARCHAR},
      </if>
      <if test="record.crtDate != null" >
        crt_date = #{record.crtDate,jdbcType=VARCHAR},
      </if>
      <if test="record.crtTime != null" >
        crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update robot_call_his
    set id = #{record.id,jdbcType=INTEGER},
      seq_id = #{record.seqId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      ai_no = #{record.aiNo,jdbcType=VARCHAR},
      phone_no = #{record.phoneNo,jdbcType=VARCHAR},
      assign_time = #{record.assignTime,jdbcType=TIMESTAMP},
      call_date = #{record.callDate,jdbcType=VARCHAR},
      template_id = #{record.templateId,jdbcType=VARCHAR},
      call_status = #{record.callStatus,jdbcType=INTEGER},
      is_tts = #{record.isTts,jdbcType=BIT},
      dialogCount = #{record.dialogcount,jdbcType=INTEGER},
      industry = #{record.industry,jdbcType=VARCHAR},
      model_id = #{record.modelId,jdbcType=INTEGER},
      intent_level = #{record.intentLevel,jdbcType=VARCHAR},
      reason = #{record.reason,jdbcType=VARCHAR},
      call_wav = #{record.callWav,jdbcType=VARCHAR},
      crt_date = #{record.crtDate,jdbcType=VARCHAR},
      crt_time = #{record.crtTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.da.dao.entity.RobotCallHis" >
    update robot_call_his
    <set >
      <if test="seqId != null" >
        seq_id = #{seqId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="orgCode != null" >
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="aiNo != null" >
        ai_no = #{aiNo,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null" >
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null" >
        assign_time = #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="callDate != null" >
        call_date = #{callDate,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="callStatus != null" >
        call_status = #{callStatus,jdbcType=INTEGER},
      </if>
      <if test="isTts != null" >
        is_tts = #{isTts,jdbcType=BIT},
      </if>
      <if test="dialogcount != null" >
        dialogCount = #{dialogcount,jdbcType=INTEGER},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=INTEGER},
      </if>
      <if test="intentLevel != null" >
        intent_level = #{intentLevel,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="callWav != null" >
        call_wav = #{callWav,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null" >
        crt_date = #{crtDate,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.da.dao.entity.RobotCallHis" >
    update robot_call_his
    set seq_id = #{seqId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      org_code = #{orgCode,jdbcType=VARCHAR},
      ai_no = #{aiNo,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      assign_time = #{assignTime,jdbcType=TIMESTAMP},
      call_date = #{callDate,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      call_status = #{callStatus,jdbcType=INTEGER},
      is_tts = #{isTts,jdbcType=BIT},
      dialogCount = #{dialogcount,jdbcType=INTEGER},
      industry = #{industry,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=INTEGER},
      intent_level = #{intentLevel,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      call_wav = #{callWav,jdbcType=VARCHAR},
      crt_date = #{crtDate,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>