<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.user.dao.SysOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.guiji.user.dao.entity.SysOrganization" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="robot" property="robot" jdbcType="INTEGER" />
    <result column="line" property="line" jdbcType="INTEGER" />
    <result column="botstence" property="botstence" jdbcType="INTEGER" />
    <result column="open" property="open" jdbcType="INTEGER" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sub_code" property="subCode" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, `name`, code, `type`, robot, line, botstence,`open`, del_flag, create_id, create_time,
    update_id, update_time,sub_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guiji.user.dao.entity.SysOrganizationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_organization
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.user.dao.entity.SysOrganizationExample" >
    delete from sys_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.user.dao.entity.SysOrganization" useGeneratedKeys="true" keyProperty="id">
    insert into sys_organization (id, `name`, code, 
      `type`, robot, line,botstence,
      `open`, del_flag, create_id, 
      create_time, update_id, update_time,sub_code
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{robot,jdbcType=INTEGER}, #{line,jdbcType=INTEGER}, #{botstence,jdbcType=INTEGER},
      #{open,jdbcType=INTEGER}, #{delFlag,jdbcType=INTEGER}, #{createId,jdbcType=BIGINT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP},#{subCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.user.dao.entity.SysOrganization" useGeneratedKeys="true" keyProperty="id">
    insert into sys_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="robot != null" >
        robot,
      </if>
      <if test="line != null" >
        line,
      </if>
      <if test="botstence != null" >
        botstence,
      </if>
      <if test="open != null" >
        `open`,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="subCode != null" >
        sub_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="robot != null" >
        #{robot,jdbcType=INTEGER},
      </if>
      <if test="line != null" >
        #{line,jdbcType=INTEGER},
      </if>
      <if test="botstence != null" >
        #{botstence,jdbcType=INTEGER},
      </if>
      <if test="open != null" >
        #{open,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subCode != null" >
        #{subCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.user.dao.entity.SysOrganizationExample" resultType="java.lang.Integer" >
    select count(*) from sys_organization
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_organization
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null" >
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        `type` = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.robot != null" >
        robot = #{record.robot,jdbcType=INTEGER},
      </if>
      <if test="record.line != null" >
        line = #{record.line,jdbcType=INTEGER},
      </if>
      <if test="record.botstence != null" >
        botstence = #{record.botstence,jdbcType=INTEGER},
      </if>
      <if test="record.open != null" >
        `open` = #{record.open,jdbcType=INTEGER},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateId != null" >
        update_id = #{record.updateId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.subCode != null" >
        sub_code = #{record.subCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_organization
    set id = #{record.id,jdbcType=BIGINT},
      `name` = #{record.name,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=VARCHAR},
      `type` = #{record.type,jdbcType=INTEGER},
      robot = #{record.robot,jdbcType=INTEGER},
      line = #{record.line,jdbcType=INTEGER},
      botstence = #{record.botstence,jdbcType=INTEGER},
      `open` = #{record.open,jdbcType=INTEGER},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      create_id = #{record.createId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_id = #{record.updateId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
    sub_code = #{record.subCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.user.dao.entity.SysOrganization" >
    update sys_organization
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="robot != null" >
        robot = #{robot,jdbcType=INTEGER},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="line != null" >
        line = #{line,jdbcType=INTEGER},
      </if>
      <if test="botstence != null" >
        botstence = #{botstence,jdbcType=INTEGER},
      </if>
      <if test="open != null" >
        `open` = #{open,jdbcType=INTEGER},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subCode != null" >
        sub_code = #{subCode,jdbcType=VARCHAR},
      </if>
       <if test="effectiveDate != null">
        effective_date = #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="invalidDate != null">
        invalid_date = #{invalidDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.user.dao.entity.SysOrganization" >
    update sys_organization
    set `name` = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      robot = #{robot,jdbcType=INTEGER},
      line = #{line,jdbcType=INTEGER},
      botstence = #{botstence,jdbcType=INTEGER},
      `open` = #{open,jdbcType=INTEGER},
      del_flag = #{delFlag,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sub_code = #{subCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

	<select id="selectOpenByPage" resultType="map">
		select a.id,a.name,a.code,a.sub_code,a.type,a.create_time as createTime,a.update_time as updateTime,
		b.username as createName,c.username as updateName,ifnull(a.robot,0) as robot,ifnull(a.line,0) as line,
		a.start_date,a.end_date, a.effective_date, a.invalid_date
		from sys_organization a
		LEFT JOIN sys_user b on a.create_id=b.id
		LEFT JOIN sys_user c on a.update_id=c.id
		where a.del_flag = 0 and a.open = 1
		<if test="orgName != null">
			AND a.`name` LIKE CONCAT('%',#{orgName},'%')
		</if>
		<if test="authLevel == 1">
			and a.create_id = #{userId}
		</if>
		<if test="authLevel == 2">
			and a.code = #{orgCode}
		</if>
		<if test="authLevel == 3">
			and a.`code` LIKE CONCAT(#{orgCode},'%')
		</if>
		ORDER BY a.update_time desc
		limit ${(pageNo-1)*pageSize}, #{pageSize}
	</select>
  
  
  <select id="getOrgByUserId" resultMap="BaseResultMap">
  	select * from sys_organization where code like CONCAT((SELECT org_code from sys_user where id=#{userId}),'%') and del_flag='0'
  	order by create_time desc
  </select>
  
  <select id="existChildren" resultType="boolean">
  	SELECT COUNT(1)>0 from sys_user where del_flag=0 and org_code like CONCAT((SELECT code from sys_organization where id=#{id}),'%') 
  </select>
  
  <select id="countCode" resultType="int">
  	SELECT count(1) from sys_organization
	where code REGEXP concat('^',#{code},'.[0-9]+$')
  </select>

  <select id="countRobotByUserId" resultType="int">
    SELECT ifnull(sum(robot),0) from sys_organization
    where code like CONCAT(#{code},'%')
  </select>

  <insert id="insertOrganizationProduct" parameterType="java.util.List">
    insert into sys_organization_product(organization_id,product,create_id,update_id,create_time,update_time,del_flag) values
    <foreach collection="product" item="item" index="index" separator=",">
    (#{organizationId},#{item},#{userId},#{userId},now(),now(),0)
    </foreach>
  </insert>

  <insert id="updateOrganizationProduct" parameterType="java.util.List">
    delete from sys_organization_product where organization_id=#{organizationId};
    insert into sys_organization_product(organization_id,product,create_id,update_id,create_time,update_time,del_flag) values
    <foreach collection="product" item="item" index="index" separator=",">
    (#{organizationId},#{item},#{userId},#{userId},now(),now(),0)
    </foreach>
  </insert>

  <select id="getProductByOrganizationId" resultType="java.lang.Integer">
    select a.product from sys_organization_product a where a.organization_id=#{organizationId}
  </select>
  
  <select id="getOrgByProductId" resultType="java.lang.Integer">
    select a.organization_id from sys_organization_product a where a.product=#{productId} and del_flag=0
  </select>

  <select id="getIndustryByOrganizationId" resultType="java.lang.String">
    select a.industry_id as industryId from sys_organization_industry a where a.organization_id=#{organizationId}
  </select>

  <select id="getIndustryByOrgCode" resultType="java.lang.String">
    select a.industry_id as industryId from sys_organization_industry a where a.org_code=#{orgCode}
  </select>

  <select id="getSubOrgIdByOrgId" resultType="int">
  	SELECT t.id FROM `sys_organization` t
	WHERE t.`code` LIKE CONCAT((SELECT t.`code` FROM sys_organization t WHERE t.id = #{orgId}),'%')
	AND t.usable = 1
  </select>
  
  <select id="getAllOrgId" resultType="int">
  	SELECT t.id FROM `sys_organization` t WHERE t.usable = 1
  </select>
  
  <update id="updateUsableByOrgId">
  	UPDATE sys_organization t SET t.usable = 1
	WHERE t.id = #{orgId}
  </update>
  
  <select id="querySubOrgByOrgId" parameterType="java.lang.Integer" resultType="java.util.Map">
  	SELECT t.id, t.`name` FROM `sys_organization` t
	WHERE t.`code` LIKE CONCAT((SELECT t.`code` FROM sys_organization t WHERE t.id = #{orgId}),'%')
	AND t.usable = 1
  </select>
  
  <select id="getSubOrgByAuthLevel" resultType="java.util.Map">
  	SELECT t.id, t.`name`, t.code FROM `sys_organization` t
  	<where>
  		<if test="authLevel == 1">
  			t.code = #{orgCode}
  		</if>
  		<if test="authLevel == 2">
  			t.code = #{orgCode}
  		</if>
  		<if test="authLevel == 3">
  			t.`code` LIKE CONCAT(#{orgCode},'%')
  		</if>
  	</where>
	AND t.usable = 1
  </select>
  
  <select id="queryChildrenOrg" resultType="com.guiji.user.dao.entity.SysOrganization">
  	SELECT t.* FROM sys_organization t WHERE t.`code` REGEXP CONCAT(#{orgCode},'[0-9]+\\.$');
  </select>

	<select id="getOrgByUsername" parameterType="java.lang.String" resultType="java.util.Map">
		SELECT a.username, b.`name`, b.id, b.`code` FROM sys_user a
		LEFT JOIN sys_organization b ON a.org_code = b.`code`
		WHERE a.username = #{username} 
	</select>

</mapper>