<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.nas.dao.SysFileMapper" >
  <resultMap id="BaseResultMap" type="com.guiji.nas.dao.entity.SysFile" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="busi_id" property="busiId" jdbcType="VARCHAR" />
    <result column="busi_type" property="busiType" jdbcType="CHAR" />
    <result column="file_type" property="fileType" jdbcType="CHAR" />
    <result column="file_size" property="fileSize" jdbcType="DOUBLE" />
    <result column="sk_url" property="skUrl" jdbcType="VARCHAR" />
    <result column="sk_thumb_image_url" property="skThumbImageUrl" jdbcType="VARCHAR" />
    <result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
    <result column="crt_user" property="crtUser" jdbcType="BIGINT" />
    <result column="crt_time" property="crtTime" jdbcType="TIMESTAMP" />
    <result column="lst_update_user" property="lstUpdateUser" jdbcType="BIGINT" />
    <result column="lst_update_time" property="lstUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, file_name, busi_id, busi_type, file_type, file_size, sk_url, sk_thumb_image_url, 
    sys_code, crt_user, crt_time, lst_update_user, lst_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guiji.nas.dao.entity.SysFileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.nas.dao.entity.SysFileExample" >
    delete from sys_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.nas.dao.entity.SysFile" >
    insert into sys_file (id, file_name, busi_id, 
      busi_type, file_type, file_size, 
      sk_url, sk_thumb_image_url, sys_code, 
      crt_user, crt_time, lst_update_user, 
      lst_update_time)
    values (#{id,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{busiId,jdbcType=VARCHAR}, 
      #{busiType,jdbcType=CHAR}, #{fileType,jdbcType=CHAR}, #{fileSize,jdbcType=DOUBLE}, 
      #{skUrl,jdbcType=VARCHAR}, #{skThumbImageUrl,jdbcType=VARCHAR}, #{sysCode,jdbcType=VARCHAR}, 
      #{crtUser,jdbcType=BIGINT}, #{crtTime,jdbcType=TIMESTAMP}, #{lstUpdateUser,jdbcType=BIGINT},
      #{lstUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.nas.dao.entity.SysFile" >
    insert into sys_file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileName != null" >
        file_name,
      </if>
      <if test="busiId != null" >
        busi_id,
      </if>
      <if test="busiType != null" >
        busi_type,
      </if>
      <if test="fileType != null" >
        file_type,
      </if>
      <if test="fileSize != null" >
        file_size,
      </if>
      <if test="skUrl != null" >
        sk_url,
      </if>
      <if test="skThumbImageUrl != null" >
        sk_thumb_image_url,
      </if>
      <if test="sysCode != null" >
        sys_code,
      </if>
      <if test="crtUser != null" >
        crt_user,
      </if>
      <if test="crtTime != null" >
        crt_time,
      </if>
      <if test="lstUpdateUser != null" >
        lst_update_user,
      </if>
      <if test="lstUpdateTime != null" >
        lst_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        #{busiType,jdbcType=CHAR},
      </if>
      <if test="fileType != null" >
        #{fileType,jdbcType=CHAR},
      </if>
      <if test="fileSize != null" >
        #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="skUrl != null" >
        #{skUrl,jdbcType=VARCHAR},
      </if>
      <if test="skThumbImageUrl != null" >
        #{skThumbImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="crtUser != null" >
        #{crtUser,jdbcType=BIGINT},
      </if>
      <if test="crtTime != null" >
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstUpdateUser != null" >
        #{lstUpdateUser,jdbcType=BIGINT},
      </if>
      <if test="lstUpdateTime != null" >
        #{lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.nas.dao.entity.SysFileExample" resultType="java.lang.Integer" >
    select count(*) from sys_file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_file
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.fileName != null" >
        file_name = #{record.fileName,jdbcType=VARCHAR},
      </if>
      <if test="record.busiId != null" >
        busi_id = #{record.busiId,jdbcType=VARCHAR},
      </if>
      <if test="record.busiType != null" >
        busi_type = #{record.busiType,jdbcType=CHAR},
      </if>
      <if test="record.fileType != null" >
        file_type = #{record.fileType,jdbcType=CHAR},
      </if>
      <if test="record.fileSize != null" >
        file_size = #{record.fileSize,jdbcType=DOUBLE},
      </if>
      <if test="record.skUrl != null" >
        sk_url = #{record.skUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.skThumbImageUrl != null" >
        sk_thumb_image_url = #{record.skThumbImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCode != null" >
        sys_code = #{record.sysCode,jdbcType=VARCHAR},
      </if>
      <if test="record.crtUser != null" >
        crt_user = #{record.crtUser,jdbcType=BIGINT},
      </if>
      <if test="record.crtTime != null" >
        crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lstUpdateUser != null" >
        lst_update_user = #{record.lstUpdateUser,jdbcType=BIGINT},
      </if>
      <if test="record.lstUpdateTime != null" >
        lst_update_time = #{record.lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_file
    set id = #{record.id,jdbcType=BIGINT},
      file_name = #{record.fileName,jdbcType=VARCHAR},
      busi_id = #{record.busiId,jdbcType=VARCHAR},
      busi_type = #{record.busiType,jdbcType=CHAR},
      file_type = #{record.fileType,jdbcType=CHAR},
      file_size = #{record.fileSize,jdbcType=DOUBLE},
      sk_url = #{record.skUrl,jdbcType=VARCHAR},
      sk_thumb_image_url = #{record.skThumbImageUrl,jdbcType=VARCHAR},
      sys_code = #{record.sysCode,jdbcType=VARCHAR},
      crt_user = #{record.crtUser,jdbcType=BIGINT},
      crt_time = #{record.crtTime,jdbcType=TIMESTAMP},
      lst_update_user = #{record.lstUpdateUser,jdbcType=BIGINT},
      lst_update_time = #{record.lstUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.nas.dao.entity.SysFile" >
    update sys_file
    <set >
      <if test="fileName != null" >
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        busi_id = #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="busiType != null" >
        busi_type = #{busiType,jdbcType=CHAR},
      </if>
      <if test="fileType != null" >
        file_type = #{fileType,jdbcType=CHAR},
      </if>
      <if test="fileSize != null" >
        file_size = #{fileSize,jdbcType=DOUBLE},
      </if>
      <if test="skUrl != null" >
        sk_url = #{skUrl,jdbcType=VARCHAR},
      </if>
      <if test="skThumbImageUrl != null" >
        sk_thumb_image_url = #{skThumbImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="sysCode != null" >
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="crtUser != null" >
        crt_user = #{crtUser,jdbcType=BIGINT},
      </if>
      <if test="crtTime != null" >
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lstUpdateUser != null" >
        lst_update_user = #{lstUpdateUser,jdbcType=BIGINT},
      </if>
      <if test="lstUpdateTime != null" >
        lst_update_time = #{lstUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.nas.dao.entity.SysFile" >
    update sys_file
    set file_name = #{fileName,jdbcType=VARCHAR},
      busi_id = #{busiId,jdbcType=VARCHAR},
      busi_type = #{busiType,jdbcType=CHAR},
      file_type = #{fileType,jdbcType=CHAR},
      file_size = #{fileSize,jdbcType=DOUBLE},
      sk_url = #{skUrl,jdbcType=VARCHAR},
      sk_thumb_image_url = #{skThumbImageUrl,jdbcType=VARCHAR},
      sys_code = #{sysCode,jdbcType=VARCHAR},
      crt_user = #{crtUser,jdbcType=BIGINT},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      lst_update_user = #{lstUpdateUser,jdbcType=BIGINT},
      lst_update_time = #{lstUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>