<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.process.server.dao.SysProcessTaskMapper" >
  <resultMap id="BaseResultMap" type="com.guiji.process.server.dao.entity.SysProcessTask" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="process_id" property="processId" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="port" property="port" jdbcType="VARCHAR" />
    <result column="cmd_type" property="cmdType" jdbcType="INTEGER" />
    <result column="process_key" property="processKey" jdbcType="VARCHAR" />
    <result column="parameters" property="parameters" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="INTEGER" />
    <result column="result_content" property="resultContent" jdbcType="VARCHAR" />
    <result column="exec_status" property="execStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="BIGINT" />
    <result column="req_key" property="reqKey" jdbcType="VARCHAR" />
    <result column="create_time_str" property="createTimeStr" jdbcType="VARCHAR" />
    <result column="update_time_str" property="updateTimeStr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, process_id, ip, port, cmd_type, process_key, `parameters`, `result`, result_content, 
    exec_status, create_time, update_time, create_by, update_by, req_key,DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') as create_time_str, DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') as update_time_str
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guiji.process.server.dao.entity.SysProcessTaskExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from sys_process_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_process_task
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_process_task
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.process.server.dao.entity.SysProcessTaskExample" >
    delete from sys_process_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.process.server.dao.entity.SysProcessTask" >
    insert into sys_process_task (id, process_id, ip, 
      port, cmd_type, process_key, 
      `parameters`, `result`, result_content, 
      exec_status, create_time, update_time, 
      create_by, update_by, req_key
      )
    values (#{id,jdbcType=INTEGER}, #{processId,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{port,jdbcType=VARCHAR}, #{cmdType,jdbcType=INTEGER}, #{processKey,jdbcType=VARCHAR}, 
      #{parameters,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER}, #{resultContent,jdbcType=VARCHAR}, 
      #{execStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{reqKey,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.process.server.dao.entity.SysProcessTask" >
    insert into sys_process_task
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="processId != null" >
        process_id,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="cmdType != null" >
        cmd_type,
      </if>
      <if test="processKey != null" >
        process_key,
      </if>
      <if test="parameters != null" >
        `parameters`,
      </if>
      <if test="result != null" >
        `result`,
      </if>
      <if test="resultContent != null" >
        result_content,
      </if>
      <if test="execStatus != null" >
        exec_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="reqKey != null" >
        req_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="processId != null" >
        #{processId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        #{port,jdbcType=VARCHAR},
      </if>
      <if test="cmdType != null" >
        #{cmdType,jdbcType=INTEGER},
      </if>
      <if test="processKey != null" >
        #{processKey,jdbcType=VARCHAR},
      </if>
      <if test="parameters != null" >
        #{parameters,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="resultContent != null" >
        #{resultContent,jdbcType=VARCHAR},
      </if>
      <if test="execStatus != null" >
        #{execStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="reqKey != null" >
        #{reqKey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.process.server.dao.entity.SysProcessTaskExample" resultType="java.lang.Integer" >
    select count(*) from sys_process_task
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_process_task
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.processId != null" >
        process_id = #{record.processId,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.port != null" >
        port = #{record.port,jdbcType=VARCHAR},
      </if>
      <if test="record.cmdType != null" >
        cmd_type = #{record.cmdType,jdbcType=INTEGER},
      </if>
      <if test="record.processKey != null" >
        process_key = #{record.processKey,jdbcType=VARCHAR},
      </if>
      <if test="record.parameters != null" >
        `parameters` = #{record.parameters,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
        `result` = #{record.result,jdbcType=INTEGER},
      </if>
      <if test="record.resultContent != null" >
        result_content = #{record.resultContent,jdbcType=VARCHAR},
      </if>
      <if test="record.execStatus != null" >
        exec_status = #{record.execStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=BIGINT},
      </if>
      <if test="record.reqKey != null" >
        req_key = #{record.reqKey,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_process_task
    set id = #{record.id,jdbcType=INTEGER},
      process_id = #{record.processId,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=VARCHAR},
      cmd_type = #{record.cmdType,jdbcType=INTEGER},
      process_key = #{record.processKey,jdbcType=VARCHAR},
      `parameters` = #{record.parameters,jdbcType=VARCHAR},
      `result` = #{record.result,jdbcType=INTEGER},
      result_content = #{record.resultContent,jdbcType=VARCHAR},
      exec_status = #{record.execStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=BIGINT},
      req_key = #{record.reqKey,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.process.server.dao.entity.SysProcessTask" >
    update sys_process_task
    <set >
      <if test="processId != null" >
        process_id = #{processId,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=VARCHAR},
      </if>
      <if test="cmdType != null" >
        cmd_type = #{cmdType,jdbcType=INTEGER},
      </if>
      <if test="processKey != null" >
        process_key = #{processKey,jdbcType=VARCHAR},
      </if>
      <if test="parameters != null" >
        `parameters` = #{parameters,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        `result` = #{result,jdbcType=INTEGER},
      </if>
      <if test="resultContent != null" >
        result_content = #{resultContent,jdbcType=VARCHAR},
      </if>
      <if test="execStatus != null" >
        exec_status = #{execStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="reqKey != null" >
        req_key = #{reqKey,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.process.server.dao.entity.SysProcessTask" >
    update sys_process_task
    set process_id = #{processId,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      port = #{port,jdbcType=VARCHAR},
      cmd_type = #{cmdType,jdbcType=INTEGER},
      process_key = #{processKey,jdbcType=VARCHAR},
      `parameters` = #{parameters,jdbcType=VARCHAR},
      `result` = #{result,jdbcType=INTEGER},
      result_content = #{resultContent,jdbcType=VARCHAR},
      exec_status = #{execStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      req_key = #{reqKey,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>