<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.callcenter.dao.StastisticReportLineShardingMapper" >

    <select id="selectLineHangupCodeReport" resultType="com.guiji.callcenter.dao.entity.ReportLineCode">
        SELECT
        hangup_code AS hangupCode,
        line_id AS lineId,
        org_code AS orgCode,
        SUM(is_cancel) AS isCancel,
        COUNT(call_id) AS totalCalls,
        <!--ADDDATE(min(create_time),INTERVAL -MINUTE(min(create_time)) % 5 MINUTE) AS createTime,-->
        SUBSTRING(GROUP_CONCAT(phone_num),1,119) AS phoneNum,
        SUM(is_answer) AS answerCalls,
        customer_id as userId

        FROM
        call_out_plan
        WHERE
        create_time >= #{startTime}
        AND create_time &lt;  #{enTime}
        AND
        call_state>6
        <if test="orgIdList != null and orgIdList.size()>0">
            and org_id in
            <foreach collection="orgIdList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        GROUP BY hangup_code,line_id,is_cancel,org_code,customer_id
    </select>


</mapper>