<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guiji.billing.dao.mapper.ext.BillingCompanyTotalMapper">

  <select id="totalCompanyChargingByMonth" resultType="com.guiji.billing.vo.TotalChargingItemVo">
    SELECT
      opt_time AS total_date,
      charging_item_id,
      charging_item_name,
      COUNT(id) AS call_count,
      SUM(oper_duration_m) AS duration,
      SUM(amount) AS total_amout,
      SUM(charging_amount) as total_charging_amout
    FROM
    (
      SELECT t.charging_item_id, t.charging_item_name,
        r.id, r.oper_duration_m, r.amount , r.charging_amount,
        DATE_FORMAT(r.create_time, '%Y-%m') AS opt_time
      FROM billing_acct_charging_record r, billing_acct_charging_term t, billing_user_acct c
      WHERE r.account_id = c.account_id
        AND r.user_charging_id = t.user_charging_id
        AND r.oper_duration <![CDATA[ > ]]> 0
        AND r.type = ${@com.guiji.billing.enums.ChargingTypeEnum@CONSUME.getType()}
        <if test="authLevel != null">
          <if test="authLevel == 2 and orgCode != null">
            AND c.org_code = #{orgCode}
          </if>
          <if test="authLevel == 3 and orgCode != null">
            AND ( c.org_code = #{orgCode} OR c.org_code LIKE CONCAT(#{orgCode},'%') )
          </if>
          <if test="authLevel == 1 and operUserId != null">
            AND r.oper_user_id = #{operUserId}
          </if>
        </if>
        <if test="userId != null">
          AND r.oper_user_id = #{userId}
        </if>
        <if test="chargingItemId != null">
          AND t.charging_item_id = #{chargingItemId}
        </if>
        <if test="beginMonth != null and endMonth != null">
          AND r.create_time BETWEEN #{beginMonth} AND #{endMonth}
        </if>
    ) rt
    WHERE 1=1
    GROUP BY opt_time , charging_item_id, charging_item_name
    ORDER BY opt_time DESC
    <if test="page != null and page.isPage ">
      <if test="page.indexStart != null " >
        limit #{page.indexStart,jdbcType=BIGINT}, #{page.pageSize,jdbcType=INTEGER}
      </if>
    </if>
  </select>

  <select id="totalChargingCountByMonth" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM
    (
      SELECT
        opt_time AS total_date,
        charging_item_id
      FROM
      (
        SELECT t.charging_item_id, t.charging_item_name,
          r.id, r.oper_duration_m, r.amount , r.charging_amount,
          DATE_FORMAT(r.create_time, '%Y-%m') AS opt_time
        FROM billing_acct_charging_record r, billing_acct_charging_term t, billing_user_acct c
        WHERE r.account_id = c.account_id
          AND r.user_charging_id = t.user_charging_id
          AND r.oper_duration <![CDATA[ > ]]> 0
          AND r.type = ${@com.guiji.billing.enums.ChargingTypeEnum@CONSUME.getType()}
          <if test="authLevel != null">
            <if test="authLevel == 2 and orgCode != null">
              AND c.org_code = #{orgCode}
            </if>
            <if test="authLevel == 3 and orgCode != null">
              AND ( c.org_code = #{orgCode} OR c.org_code LIKE CONCAT(#{orgCode},'%') )
            </if>
            <if test="authLevel == 1 and operUserId != null">
              AND r.oper_user_id = #{operUserId}
            </if>
          </if>
          <if test="userId != null">
            AND r.oper_user_id = #{userId}
          </if>
          <if test="chargingItemId != null">
            AND t.charging_item_id = #{chargingItemId}
          </if>
          <if test="beginMonth != null and endMonth != null">
            AND r.create_time BETWEEN #{beginMonth} AND #{endMonth}
          </if>
      ) rt
      WHERE 1 = 1
      GROUP BY opt_time , charging_item_id
    ) a
  </select>


  <select id="totalCompanyChargingByDate" resultType="com.guiji.billing.vo.TotalChargingItemVo">
    SELECT
      opt_time AS total_date,
      charging_item_id,
      charging_item_name,
      COUNT(id) AS call_count,
      SUM(oper_duration_m) AS duration,
      SUM(amount) AS total_amout,
      SUM(charging_amount) as total_charging_amout
    FROM
    (
      SELECT t.charging_item_id, t.charging_item_name,
          r.id, r.oper_duration_m, r.amount , r.charging_amount,
          DATE_FORMAT(r.create_time, '%Y-%m-%d') AS opt_time
        FROM billing_acct_charging_record r, billing_acct_charging_term t, billing_user_acct c
        WHERE r.account_id = c.account_id
          AND r.user_charging_id = t.user_charging_id
          AND r.oper_duration <![CDATA[ > ]]> 0
          AND r.type = ${@com.guiji.billing.enums.ChargingTypeEnum@CONSUME.getType()}
          <if test="authLevel != null">
            <if test="authLevel == 2 and orgCode != null">
              AND c.org_code = #{orgCode}
            </if>
            <if test="authLevel == 3 and orgCode != null">
              AND ( c.org_code = #{orgCode} OR c.org_code LIKE CONCAT(#{orgCode},'%') )
            </if>
            <if test="authLevel == 1 and operUserId != null">
              AND r.oper_user_id = #{operUserId}
            </if>
          </if>
          <if test="userId != null">
            AND r.oper_user_id = #{userId}
          </if>
          <if test="chargingItemId != null">
            AND t.charging_item_id = #{chargingItemId}
          </if>
          <if test="beginDate != null and endDate != null">
            AND r.create_time BETWEEN #{beginDate} AND #{endDate}
          </if>
    ) rt
    WHERE 1 = 1
    GROUP BY opt_time , charging_item_id, charging_item_name
    ORDER BY opt_time DESC
    <if test="page != null and page.isPage ">
      <if test="page.indexStart != null " >
        limit #{page.indexStart,jdbcType=BIGINT}, #{page.pageSize,jdbcType=INTEGER}
      </if>
    </if>
  </select>

  <select id="totalChargingCountByDate" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM
    (
      SELECT
      opt_time AS total_date,
      charging_item_id
      FROM
      (
        SELECT t.charging_item_id, t.charging_item_name,
          r.id, r.oper_duration_m, r.amount ,r.charging_amount,
          DATE_FORMAT(r.create_time, '%Y-%m-%d') AS opt_time
        FROM billing_acct_charging_record r, billing_acct_charging_term t, billing_user_acct c
        WHERE r.account_id = c.account_id
          AND r.user_charging_id = t.user_charging_id
          AND r.oper_duration <![CDATA[ > ]]> 0
          AND r.type = ${@com.guiji.billing.enums.ChargingTypeEnum@CONSUME.getType()}
          <if test="authLevel != null">
            <if test="authLevel == 2 and orgCode != null">
              AND c.org_code = #{orgCode}
            </if>
            <if test="authLevel == 3 and orgCode != null">
              AND ( c.org_code = #{orgCode} OR c.org_code LIKE CONCAT(#{orgCode},'%') )
            </if>
            <if test="authLevel == 1 and operUserId != null">
              AND r.oper_user_id = #{operUserId}
            </if>
          </if>
          <if test="userId != null">
            AND r.oper_user_id = #{userId}
          </if>
          <if test="chargingItemId != null">
            AND t.charging_item_id = #{chargingItemId}
          </if>
          <if test="beginDate != null and endDate != null">
            AND r.create_time BETWEEN #{beginDate} AND #{endDate}
          </if>
      ) rt
      WHERE 1 = 1
      GROUP BY opt_time , charging_item_id
    ) a
  </select>


  <select id="totalCompanyChargingByDay" resultType="com.guiji.billing.vo.TotalChargingItemVo">
    SELECT
      CONCAT(#{beginDate}, '至', #{endDate}) AS total_date,
      charging_item_id,
      charging_item_name,
      COUNT(id) AS call_count,
      SUM(oper_duration_m) AS duration,
      SUM(amount) AS total_amout,
      SUM(charging_amount) as total_charging_amout
    FROM
    (
      SELECT t.charging_item_id, t.charging_item_name,
        r.id, r.oper_duration_m, r.amount , r.charging_amount
      FROM billing_acct_charging_record r, billing_acct_charging_term t, billing_user_acct c
      WHERE r.account_id = c.account_id
        AND r.user_charging_id = t.user_charging_id
        AND r.oper_duration <![CDATA[ > ]]> 0
        AND r.type = ${@com.guiji.billing.enums.ChargingTypeEnum@CONSUME.getType()}
        <if test="authLevel != null">
          <if test="authLevel == @com.guiji.billing.enums.AuthLevelEnum@ORG.getLevel() and orgCode != null">
            AND c.org_code = #{orgCode}
          </if>
          <if test="authLevel == @com.guiji.billing.enums.AuthLevelEnum@ORG_EXT.getLevel() and orgCode != null">
            AND ( c.org_code = #{orgCode} OR c.org_code LIKE CONCAT(#{orgCode},'%') )
          </if>
          <if test="authLevel == @com.guiji.billing.enums.AuthLevelEnum@USER.getLevel() and operUserId != null">
            AND r.oper_user_id = #{operUserId}
          </if>
        </if>
        <if test="userId != null">
          AND r.oper_user_id = #{userId}
        </if>
        <if test="chargingItemId != null">
          AND t.charging_item_id = #{chargingItemId}
        </if>
        <if test="beginDate != null and endDate != null">
          AND r.create_time BETWEEN #{beginDate} AND #{endDate}
        </if>
    ) rt
    WHERE 1 = 1
      GROUP BY charging_item_id, charging_item_name
      <if test="page != null and page.isPage ">
        <if test="page.indexStart != null " >
          limit #{page.indexStart,jdbcType=BIGINT}, #{page.pageSize,jdbcType=INTEGER}
        </if>
      </if>
  </select>


  <select id="totalChargingCountByDay" resultType="java.lang.Integer">
    SELECT
        COUNT(*)
    FROM
    (
        SELECT t.charging_item_id
        FROM billing_acct_charging_record r, billing_acct_charging_term t, billing_user_acct c
        WHERE r.account_id = c.account_id
          AND r.user_charging_id = t.user_charging_id
          AND r.oper_duration <![CDATA[ > ]]> 0
          AND r.type = ${@com.guiji.billing.enums.ChargingTypeEnum@CONSUME.getType()}
          <if test="authLevel != null">
            <if test="authLevel == @com.guiji.billing.enums.AuthLevelEnum@ORG.getLevel() and orgCode != null">
              AND c.org_code = #{orgCode}
            </if>
            <if test="authLevel == @com.guiji.billing.enums.AuthLevelEnum@ORG_EXT.getLevel() and orgCode != null">
              AND ( c.org_code = #{orgCode} OR c.org_code LIKE CONCAT(#{orgCode},'%') )
            </if>
            <if test="authLevel == @com.guiji.billing.enums.AuthLevelEnum@USER.getLevel() and operUserId != null">
              AND r.oper_user_id = #{operUserId}
            </if>
          </if>
          <if test="userId != null">
            AND r.oper_user_id = #{userId}
          </if>
          <if test="chargingItemId != null">
            AND t.charging_item_id = #{chargingItemId}
          </if>
          <if test="beginDate != null and endDate != null">
            AND r.create_time BETWEEN #{beginDate} AND #{endDate}
          </if>
          GROUP BY charging_item_id
      ) rt
  </select>

  <!---->

  <select id="totalChargingItemList" resultType="com.guiji.billing.vo.TotalChargingItemDetailVo">
    SELECT
      r.phone,
      r.oper_begin_time AS begin_time,
      r.oper_end_time AS end_time,
      r.oper_duration_str,
      r.oper_duration_m,
      r.amount,
      r.charging_amount
    FROM billing_acct_charging_record r, billing_acct_charging_term t
    WHERE r.user_charging_id = t.user_charging_id
      <if test="chargingItemId != null">
        AND t.charging_item_id = #{chargingItemId}
      </if>
      <if test="beginDate != null and endDate != null">
        AND r.create_time BETWEEN #{beginDate} AND #{endDate}
      </if>
      ORDER BY r.create_time DESC
      <if test="page != null and page.isPage ">
        <if test="page.indexStart != null " >
          limit #{page.indexStart,jdbcType=BIGINT}, #{page.pageSize,jdbcType=INTEGER}
        </if>
      </if>
  </select>


  <select id="totalChargingItemCount" resultType="java.lang.Integer">
    SELECT
      COUNT(*)
    FROM billing_acct_charging_record r, billing_acct_charging_term t
    WHERE r.user_charging_id = t.user_charging_id
    <if test="chargingItemId != null">
      AND t.charging_item_id = #{chargingItemId}
    </if>
    <if test="beginDate != null and endDate != null">
      AND r.create_time BETWEEN #{beginDate} AND #{endDate}
    </if>
  </select>

</mapper>