<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.voipgateway.synway.dao.SynwayMapper" >
  
  
  <!-- 查询库中某个schema中某个名称开头的表列表-->
  <select id="queryShareTabNameList" resultType="java.lang.String" parameterType="com.guiji.voipgateway.synway.dao.entity.ShareTabQuery">
    select 
    TABLE_NAME from 
    information_schema.tables 
    where table_type='base table' 
    and TABLE_SCHEMA = 'dcmsdb'
    <if test="tableNamePostfix != null and tableNamePostfix !=''" >
    	and TABLE_NAME like '%${tableNamePostfix}%'
    </if>
  </select>
  
  
  <!-- 根据公司ID查询公司信息-->
  <select id="queryCompanyById" resultType="com.guiji.voipgateway.model.Company">
    select * from companytbl where CompanyId=#{companyId}
  </select>
  
  
  <!-- 查询某张表中某个设备名称的设备信息-->
  <select id="queryCompanyByDevName" resultType="com.guiji.voipgateway.model.GwDevtbl">
    select * from ${tabName} where Description=#{devName}
  </select>
  
  
  <!-- 查询某个公司所有设备信息列表-->
  <select id="queryGwDevtblListByCompId" resultType="com.guiji.voipgateway.model.GwDevtbl">
    select * from ${tabName} where CompanyId=#{companyId}
  </select>
  
  
  <!-- 根据设备编号查询设备信息-->
  <select id="queryGwDevByDevId" resultType="com.guiji.voipgateway.model.GwDevtbl">
    select * from ${tabName} where DevId=#{devId}
  </select>
  
  
  <!-- 查询网关设备sim卡端口信息列表-->
  <select id="querySimPortListByDevId" resultType="com.guiji.voipgateway.model.SimPort">
    select * from ${tabName} where ParentDevId=#{devId}
  </select>


  <!-- 查询网关设备sim卡端口信息列表-->
  <select id="querySimPortStatus" resultType="com.guiji.voipgateway.synway.dao.entity.PortStatus">
    select PortId portId, RunStatus runStatus from ${tabName} where ParentDevId=#{devId}
  </select>
</mapper>