<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guiji.dispatch.dao.DispatchPlanBatchMapper">
  <resultMap id="BaseResultMap" type="com.guiji.dispatch.dao.entity.DispatchPlanBatch">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="status_show" jdbcType="INTEGER" property="statusShow" />
    <result column="status_notify" jdbcType="INTEGER" property="statusNotify" />
    <result column="times" jdbcType="INTEGER" property="times" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="org_code" jdbcType="VARCHAR" property="orgCode" />
    <result column="callback_url" jdbcType="VARCHAR" property="callbackUrl" />
    <result column="total_num" jdbcType="INTEGER" property="totalNum" />
    <result column="single_callback_url" jdbcType="VARCHAR" property="singleCallbackUrl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, `name`, status_show, status_notify, times, gmt_create, gmt_modified, 
    org_code, callback_url, total_num, single_callback_url
  </sql>
  <select id="selectByExample" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatchExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from dispatch_plan_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart&gt;=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dispatch_plan_batch
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dispatch_plan_batch
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatchExample">
    delete from dispatch_plan_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatch" useGeneratedKeys="true" keyProperty="id">
    insert into dispatch_plan_batch (id, user_id, `name`, 
      status_show, status_notify, times, 
      gmt_create, gmt_modified, org_code, 
      callback_url, total_num, single_callback_url
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{statusShow,jdbcType=INTEGER}, #{statusNotify,jdbcType=INTEGER}, #{times,jdbcType=INTEGER}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}, #{orgCode,jdbcType=VARCHAR}, 
      #{callbackUrl,jdbcType=VARCHAR}, #{totalNum,jdbcType=INTEGER}, #{singleCallbackUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatch">
    insert into dispatch_plan_batch
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="statusShow != null">
        status_show,
      </if>
      <if test="statusNotify != null">
        status_notify,
      </if>
      <if test="times != null">
        times,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="orgCode != null">
        org_code,
      </if>
      <if test="callbackUrl != null">
        callback_url,
      </if>
      <if test="totalNum != null">
        total_num,
      </if>
      <if test="singleCallbackUrl != null">
        single_callback_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="statusShow != null">
        #{statusShow,jdbcType=INTEGER},
      </if>
      <if test="statusNotify != null">
        #{statusNotify,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        #{times,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null">
        #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null">
        #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null">
        #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="singleCallbackUrl != null">
        #{singleCallbackUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatchExample" resultType="java.lang.Integer">
    select count(*) from dispatch_plan_batch
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dispatch_plan_batch
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        `name` = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.statusShow != null">
        status_show = #{record.statusShow,jdbcType=INTEGER},
      </if>
      <if test="record.statusNotify != null">
        status_notify = #{record.statusNotify,jdbcType=INTEGER},
      </if>
      <if test="record.times != null">
        times = #{record.times,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgCode != null">
        org_code = #{record.orgCode,jdbcType=VARCHAR},
      </if>
      <if test="record.callbackUrl != null">
        callback_url = #{record.callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.totalNum != null">
        total_num = #{record.totalNum,jdbcType=INTEGER},
      </if>
      <if test="record.singleCallbackUrl != null">
        single_callback_url = #{record.singleCallbackUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dispatch_plan_batch
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      `name` = #{record.name,jdbcType=VARCHAR},
      status_show = #{record.statusShow,jdbcType=INTEGER},
      status_notify = #{record.statusNotify,jdbcType=INTEGER},
      times = #{record.times,jdbcType=INTEGER},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      org_code = #{record.orgCode,jdbcType=VARCHAR},
      callback_url = #{record.callbackUrl,jdbcType=VARCHAR},
      total_num = #{record.totalNum,jdbcType=INTEGER},
      single_callback_url = #{record.singleCallbackUrl,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatch">
    update dispatch_plan_batch
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="statusShow != null">
        status_show = #{statusShow,jdbcType=INTEGER},
      </if>
      <if test="statusNotify != null">
        status_notify = #{statusNotify,jdbcType=INTEGER},
      </if>
      <if test="times != null">
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCode != null">
        org_code = #{orgCode,jdbcType=VARCHAR},
      </if>
      <if test="callbackUrl != null">
        callback_url = #{callbackUrl,jdbcType=VARCHAR},
      </if>
      <if test="totalNum != null">
        total_num = #{totalNum,jdbcType=INTEGER},
      </if>
      <if test="singleCallbackUrl != null">
        single_callback_url = #{singleCallbackUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guiji.dispatch.dao.entity.DispatchPlanBatch">
    update dispatch_plan_batch
    set user_id = #{userId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      status_show = #{statusShow,jdbcType=INTEGER},
      status_notify = #{statusNotify,jdbcType=INTEGER},
      times = #{times,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      org_code = #{orgCode,jdbcType=VARCHAR},
      callback_url = #{callbackUrl,jdbcType=VARCHAR},
      total_num = #{totalNum,jdbcType=INTEGER},
      single_callback_url = #{singleCallbackUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryBatchByTime" resultType="com.guiji.dispatch.dao.entity.DispatchPlanBatch">
    SELECT
      id, user_id, name, status_show, status_notify, times, gmt_create, gmt_modified,
      org_code, callback_url, total_num, single_callback_url
    FROM dispatch_plan_batch b
    WHERE status_notify = ${@BatchNotifyStatusEnum@WAITING.getStatus()}
      AND b.gmt_create BETWEEN #{beginTime} AND #{endTime}
  </select>


  <select id="queryBatchUserIdByTime" resultType="java.lang.Integer">
    SELECT
      b.user_id
    FROM dispatch_plan_batch b
    WHERE b.status_notify = ${@com.guiji.dispatch.enums.BatchNotifyStatusEnum@WAITING.getStatus()}
      AND b.gmt_create BETWEEN #{beginTime} AND #{endTime}
      GROUP BY b.user_id
  </select>

  <update id="updNotifyStatusByBatch">
    UPDATE dispatch_plan_batch
    SET status_notify = #{statusNotify},
        gmt_modified = NOW()
    WHERE id = #{batchId}
  </update>

</mapper>