<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.dispatch.dao.ext.PlanBatchOptMapper" >

    <!--删除  begin-->
    <update id="delPlanBatchById">
        UPDATE dispatch_plan
        <set>
            is_del = 1,
            gmt_modified = #{delTime}
        </set>
        WHERE is_del = 0
        AND plan_uuid IN
        <foreach collection="planUuidList" item="planUuid" open="(" close=")" separator="," >
            #{planUuid}
        </foreach>
        <if test="orgIdList != null">
            AND org_id IN
            <foreach collection="orgIdList" item="orgId" open="(" close=")" separator="," >
                #{orgId}
            </foreach>
        </if>
    </update>

    <update id="delPlanBatchByParam">
        UPDATE dispatch_plan p
        <set>
            is_del = 1,
            gmt_modified = #{delTime}
        </set>
        WHERE is_del = 0
        <if test="optPlanDto != null">
            <if test="optPlanDto.orgIdList != null">
                AND p.org_id IN
                <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                    #{orgId}
                </foreach>
            </if>
            <if test="optPlanDto.batchId != null">
                AND p.batch_id = #{optPlanDto.batchId}
            </if>
            <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
            </if>
            <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
            </if>
            <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                AND p.user_id = #{optPlanDto.userId}
            </if>
            <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                AND p.phone = #{optPlanDto.phone}
            </if>
            <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                AND p.status_plan IN
                <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                    #{statusPlan}
                </foreach>
            </if>
            <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                AND p.result IN
                <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                    #{result}
                </foreach>
            </if>
            <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                AND p.plan_uuid NOT IN
                <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
        </if>
    </update>
    <!--删除  end-->

    <!--暂停  begin-->
    <update id="suspendPlanBatchById">
        UPDATE dispatch_plan p
        <set>
            status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@SUSPEND.getStatus()},
            gmt_modified = #{updTime}
        </set>
        WHERE is_del = 0
        AND status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@DOING.getStatus()}
        AND plan_uuid IN
        <foreach collection="planUuidList" item="planUuid" open="(" close=")" separator="," >
            #{planUuid}
        </foreach>
        <if test="orgIdList != null">
            AND org_id IN
            <foreach collection="orgIdList" item="orgId" open="(" close=")" separator="," >
                #{orgId}
            </foreach>
        </if>
    </update>

    <update id="suspendPlanBatchByParam">
        UPDATE dispatch_plan p
        <set>
            status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@SUSPEND.getStatus()},
            gmt_modified = #{updTime}
        </set>
        WHERE is_del = 0
        AND status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@DOING.getStatus()}
        <if test="optPlanDto != null">
            <if test="optPlanDto.orgIdList != null">
                AND p.org_id IN
                <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                    #{orgId}
                </foreach>
            </if>
            <if test="optPlanDto.batchId != null">
                AND p.batch_id = #{optPlanDto.batchId}
            </if>
            <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
            </if>
            <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
            </if>
            <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                AND p.user_id = #{optPlanDto.userId}
            </if>
            <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                AND p.phone = #{optPlanDto.phone}
            </if>
            <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                AND p.status_plan IN
                <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                    #{statusPlan}
                </foreach>
            </if>
            <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                AND p.result IN
                <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                    #{result}
                </foreach>
            </if>
            <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                AND p.plan_uuid NOT IN
                <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
        </if>
    </update>
    <!--暂停  end-->

    <!--停止  begin-->
    <update id="stopPlanBatchById">
        UPDATE dispatch_plan
        <set>
            status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@STOP.getStatus()},
            gmt_modified = #{updTime}
        </set>
        WHERE is_del = 0
        AND status_plan IN (${@com.guiji.dispatch.enums.PlanStatusEnum@DOING.getStatus()},
        ${@com.guiji.dispatch.enums.PlanStatusEnum@SUSPEND.getStatus()})
        AND plan_uuid IN
        <foreach collection="planUuidList" item="planUuid" open="(" close=")" separator="," >
            #{planUuid}
        </foreach>
        <if test="orgIdList != null">
            AND org_id IN
            <foreach collection="orgIdList" item="orgId" open="(" close=")" separator="," >
                #{orgId}
            </foreach>
        </if>
    </update>

    <update id="stopPlanBatchByParam">
        UPDATE dispatch_plan p
        <set>
            status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@STOP.getStatus()},
            gmt_modified = #{updTime}
        </set>
        WHERE is_del = 0
        AND status_plan IN (${@com.guiji.dispatch.enums.PlanStatusEnum@DOING.getStatus()},
        ${@com.guiji.dispatch.enums.PlanStatusEnum@SUSPEND.getStatus()})
        <if test="optPlanDto != null">
            <if test="optPlanDto.orgIdList != null">
                AND p.org_id IN
                <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                    #{orgId}
                </foreach>
            </if>
            <if test="optPlanDto.batchId != null">
                AND p.batch_id = #{optPlanDto.batchId}
            </if>
            <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
            </if>
            <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
            </if>
            <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                AND p.user_id = #{optPlanDto.userId}
            </if>
            <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                AND p.phone = #{optPlanDto.phone}
            </if>
            <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                AND p.status_plan IN
                <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                    #{statusPlan}
                </foreach>
            </if>
            <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                AND p.result IN
                <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                    #{result}
                </foreach>
            </if>
            <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                AND p.plan_uuid NOT IN
                <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
        </if>
    </update>
    <!--停止  end-->

    <!--恢复  begin-->
    <update id="recoveryPlanBatchById">
        UPDATE dispatch_plan
        <set>
            status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@DOING.getStatus()},
            gmt_modified = #{updTime}
        </set>
        WHERE is_del = 0
        AND status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@SUSPEND.getStatus()}
        AND plan_uuid IN
        <foreach collection="planUuidList" item="planUuid" open="(" close=")" separator="," >
            #{planUuid}
        </foreach>
        <if test="orgIdList != null">
            AND org_id IN
            <foreach collection="orgIdList" item="orgId" open="(" close=")" separator="," >
                #{orgId}
            </foreach>
        </if>
    </update>

    <update id="recoveryPlanBatchByParam">
        UPDATE dispatch_plan p
        <set>
            status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@DOING.getStatus()},
            gmt_modified = #{updTime}
        </set>
        WHERE is_del = 0
        AND status_plan = ${@com.guiji.dispatch.enums.PlanStatusEnum@SUSPEND.getStatus()}
        <if test="optPlanDto != null">
            <if test="optPlanDto.orgIdList != null">
                AND p.org_id IN
                <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                    #{orgId}
                </foreach>
            </if>
            <if test="optPlanDto.batchId != null">
                AND p.batch_id = #{optPlanDto.batchId}
            </if>
            <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
            </if>
            <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
            </if>
            <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                AND p.user_id = #{optPlanDto.userId}
            </if>
            <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                AND p.phone = #{optPlanDto.phone}
            </if>
            <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                AND p.status_plan IN
                <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                    #{statusPlan}
                </foreach>
            </if>
            <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                AND p.result IN
                <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                    #{result}
                </foreach>
            </if>
            <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                AND p.plan_uuid NOT IN
                <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
        </if>
    </update>

    <!--恢复  end-->

    <!--获取批量加入手机号   /*DISTINCT(p.phone)分表不支持*/-->

    <select id="getDisPhone" resultType="com.guiji.dispatch.vo.JoinPlanDataVo">
        SELECT
          a.phone, a.attach, a.params, a.cust_name, a.cust_company, MAX(a.gmt_create)
        FROM
        (
            SELECT
              p.phone, p.attach, p.params, p.cust_name, p.cust_company, p.gmt_create
            FROM dispatch_plan p
            WHERE p.is_del = 0
            <if test="optPlanDto != null">
                <if test="optPlanDto.orgIdList != null">
                    AND p.org_id IN
                    <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator=",">
                        #{orgId}
                    </foreach>
                </if>
                <if test="optPlanDto.batchId != null">
                    AND p.batch_id = #{optPlanDto.batchId}
                </if>
                <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                    AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
                </if>
                <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                    AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
                </if>
                <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                    AND p.user_id = #{optPlanDto.userId}
                </if>
                <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                    AND p.phone = #{optPlanDto.phone}
                </if>
                <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                    AND p.status_plan IN
                    <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator=",">
                        #{statusPlan}
                    </foreach>
                </if>
                <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                    AND p.result IN
                    <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator=",">
                        #{result}
                    </foreach>
                </if>
                <if test="optPlanDto.checkPlanUuid != null and optPlanDto.checkPlanUuid.size()>0">
                    AND p.plan_uuid IN
                    <foreach collection="optPlanDto.checkPlanUuid" item="planUuid" open="(" close=")" separator=",">
                        #{planUuid}
                    </foreach>
                </if>
                <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                    AND p.plan_uuid NOT IN
                    <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator=",">
                        #{planUuid}
                    </foreach>
                </if>
            </if>
            ORDER BY p.gmt_create DESC
            LIMIT 0, #{limit}
        ) a
        GROUP BY a.phone, a.attach, a.params, a.cust_name, a.cust_company

        <!--  因为在MQ消费流程中已经过滤黑名单，所以此处不需要关联过滤黑名单
        WHERE
        (SELECT COUNT(b.id) FROM black_list b
          WHERE b.status = 0
          AND b.phone = a.phone
          <if test="optPlanDto != null">
              <if test="optPlanDto.authLevel == @com.guiji.dispatch.enums.AuthLevelEnum@USER.getLevel() and optPlanDto.userId != null">
                AND b.user_id = #{optPlanDto.userId}
              </if>
              <if test="optPlanDto.authLevel == @com.guiji.dispatch.enums.AuthLevelEnum@ORG.getLevel() and optPlanDto.orgCode != null">
                AND b.org_code = #{optPlanDto.orgCode}
              </if>
              <if test="optPlanDto.authLevel == @com.guiji.dispatch.enums.AuthLevelEnum@ORG_EXT.getLevel() and optPlanDto.orgCode != null">
                AND b.org_code LIKE CONCAT(#{optPlanDto.orgCode},'%')
              </if>
          </if>
        )=0
        -->
    </select>


    <!--<insert id="batchJoinPlan">
      INSERT INTO

      SELECT DISTINCT(p.phone) FROM dispatch_plan p
        WHERE p.is_del = 0
            AND (SELECT COUNT(id) FROM black_list b WHERE b.phone=p.phone )=0
            <if test="optPlanDto != null">
                <if test="optPlanDto.orgIdList != null">
                    AND p.org_id IN
                    <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                        #{orgId}
                    </foreach>
                </if>
                <if test="optPlanDto.batchId != null">
                    AND p.batch_id = #{optPlanDto.batchId}
                </if>
                <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                    AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
                </if>
                <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                    AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
                </if>
                <if test="optPlanDto.userId != null">
                    AND p.user_id = #{optPlanDto.userId}
                </if>
                <if test="optPlanDto.phone != null">
                    AND p.phone = #{optPlanDto.phone}
                </if>
                <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                    AND p.status_plan IN
                    <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                        #{statusPlan}
                    </foreach>
                </if>
                <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                    AND p.result IN
                    <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                        #{result}
                    </foreach>
                </if>
                <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                    AND p.plan_uuid NOT IN
                    <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                        #{planUuid}
                    </foreach>
                </if>
            </if>
            LIMIT 0, #{limit}
    </insert>-->

    <!--批量导出    begin-->
    <select id="queryExportPlanById" resultType="com.guiji.dispatch.vo.DownLoadPlanVo">
        SELECT
        <include refid="plan_sql" />,
        DATE_FORMAT(gmt_create,'%Y-%m-%d %H:%i:%s') AS add_time
        FROM dispatch_plan p
        WHERE is_del = 0
        AND plan_uuid IN
        <foreach collection="planUuidList" item="planUuid" open="(" close=")" separator="," >
            #{planUuid}
        </foreach>
        <if test="orgIdList != null">
            AND org_id IN
            <foreach collection="orgIdList" item="orgId" open="(" close=")" separator="," >
                #{orgId}
            </foreach>
        </if>
        LIMIT #{indexStart}, #{limit}
    </select>

    <select id="queryExportPlanCountById" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM dispatch_plan p
        WHERE is_del = 0
        AND plan_uuid IN
        <foreach collection="planUuidList" item="planUuid" open="(" close=")" separator="," >
            #{planUuid}
        </foreach>
        <if test="orgIdList != null">
            AND org_id IN
            <foreach collection="orgIdList" item="orgId" open="(" close=")" separator="," >
                #{orgId}
            </foreach>
        </if>
    </select>


    <select id="queryExportPlanList" resultType="com.guiji.dispatch.vo.DownLoadPlanVo">
        SELECT
        <include refid="plan_sql" />,
        DATE_FORMAT(gmt_create,'%Y-%m-%d %H:%i:%s') AS add_time
        FROM dispatch_plan p
        WHERE p.is_del = 0
        <if test="optPlanDto != null">
            <if test="optPlanDto.orgIdList != null">
                AND p.org_id IN
                <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                    #{orgId}
                </foreach>
            </if>
            <if test="optPlanDto.batchId != null">
                AND p.batch_id = #{optPlanDto.batchId}
            </if>
            <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
            </if>
            <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
            </if>
            <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                AND p.user_id = #{optPlanDto.userId}
            </if>
            <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                AND p.phone = #{optPlanDto.phone}
            </if>
            <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                AND p.status_plan IN
                <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                    #{statusPlan}
                </foreach>
            </if>
            <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                AND p.result IN
                <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                    #{result}
                </foreach>
            </if>
            <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                AND p.plan_uuid NOT IN
                <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
            <if test="optPlanDto.checkPlanUuid != null and optPlanDto.checkPlanUuid.size()>0">
                AND p.plan_uuid IN
                <foreach collection="optPlanDto.checkPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
        </if>
        LIMIT #{indexStart}, #{limit}
    </select>

    <select id="queryExportPlanCountList" resultType="java.lang.Integer">
        SELECT
        COUNT(*)
        FROM dispatch_plan p
        WHERE p.is_del = 0
        <if test="optPlanDto != null">
            <if test="optPlanDto.orgIdList != null">
                AND p.org_id IN
                <foreach collection="optPlanDto.orgIdList" item="orgId" open="(" close=")" separator="," >
                    #{orgId}
                </foreach>
            </if>
            <if test="optPlanDto.batchId != null">
                AND p.batch_id = #{optPlanDto.batchId}
            </if>
            <if test="optPlanDto.startTime != null and optPlanDto.endTime != null">
                AND p.gmt_create BETWEEN #{optPlanDto.startTime} AND #{optPlanDto.endTime}
            </if>
            <if test="optPlanDto.startCallData != null and optPlanDto.endCallData != null">
                AND p.call_data BETWEEN #{optPlanDto.startCallData} AND #{optPlanDto.endCallData}
            </if>
            <if test="optPlanDto.userId != null and optPlanDto.userId != ''">
                AND p.user_id = #{optPlanDto.userId}
            </if>
            <if test="optPlanDto.phone != null and optPlanDto.phone != ''">
                AND p.phone = #{optPlanDto.phone}
            </if>
            <if test="optPlanDto.planStatusList != null and optPlanDto.planStatusList.size()>0">
                AND p.status_plan IN
                <foreach collection="optPlanDto.planStatusList" item="statusPlan" open="(" close=")" separator="," >
                    #{statusPlan}
                </foreach>
            </if>
            <if test="optPlanDto.resultList != null and optPlanDto.resultList.size()>0">
                AND p.result IN
                <foreach collection="optPlanDto.resultList" item="result" open="(" close=")" separator="," >
                    #{result}
                </foreach>
            </if>
            <if test="optPlanDto.nocheckPlanUuid != null and optPlanDto.nocheckPlanUuid.size()>0">
                AND p.plan_uuid NOT IN
                <foreach collection="optPlanDto.nocheckPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
            <if test="optPlanDto.checkPlanUuid != null and optPlanDto.checkPlanUuid.size()>0">
                AND p.plan_uuid IN
                <foreach collection="optPlanDto.checkPlanUuid" item="planUuid" open="(" close=")" separator="," >
                    #{planUuid}
                </foreach>
            </if>
        </if>
    </select>

    <!--批量导出    end-->

    <sql id="plan_sql">
        plan_uuid     ,
        user_id       ,
        batch_id      ,
        phone         ,
        attach        ,
        params        ,
        status_plan   ,
        status_sync   ,
        recall        ,
        recall_params ,
        robot         ,
        line          ,
        result        ,
        call_agent    ,
        clean         ,
        call_data     ,
        call_hour     ,
        gmt_create    ,
        gmt_modified  ,
        is_tts        ,
        replay_type   ,
        is_del        ,
        username      ,
        line_name     ,
        robot_name    ,
        batch_name    ,
        flag          ,
        org_code      ,
        org_id        ,
        city_name     ,
        city_code     ,
        line_type     ,
        line_id       ,
        line_id       ,
        remark        ,
        cust_name     ,
        cust_company
    </sql>
</mapper>