<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guiji.dispatch.dao.ext.PlanTableMapper" >

    <update id="createPlanTable">
        CREATE TABLE dispatch_plan_${orgId}
        (
           plan_uuid            BIGINT(32) COMMENT '任务UUID;任务全局唯一ID',
           user_id              INT(11) COMMENT '用户ID',
           batch_id             INT(11) COMMENT '批次ID;批次ID',
           phone                VARCHAR(32) not null COMMENT '手机号',
           attach               VARCHAR(255) COMMENT '附加参数，备注',
           params               VARCHAR(255) COMMENT '参数',
           status_plan          INT(1) COMMENT '计划状态;0未计划1计划中2计划完成3暂停计划4停止计划',
           status_sync          INT(1) COMMENT '同步状态;0未同步1已同步',
           recall               INT(1) COMMENT '重播;0不重播非0表示重播次数',
           recall_params        VARCHAR(32) COMMENT '重播条件;重播次数json格式',
           robot                VARCHAR(32) COMMENT '呼叫机器人',
           line                 INT(11) COMMENT '线路ID集合',
           result               VARCHAR(32) COMMENT '呼出结果',
           call_agent           VARCHAR(32) COMMENT '转人工坐席号',
           clean                INT(1) COMMENT '当日清除;当日夜间清除未完成计划',
           call_data            INT(11) COMMENT '外呼日期',
           call_hour            varchar(64) not null COMMENT '拨打时间',
           gmt_create           datetime COMMENT '创建时间',
           gmt_modified         datetime default CURRENT_TIMESTAMP COMMENT '更新时间',
           is_tts               INT(11) COMMENT '是否tts合成',
           replay_type          INT(11) COMMENT '重播类型 0一般任务 1 重播任务',
           is_del               INT(11) not null default 0 COMMENT '0否1是',
           username             VARCHAR(32) COMMENT '用户名称',
           line_name            VARCHAR(32) COMMENT '线路名称',
           robot_name           VARCHAR(32) COMMENT 'robot名称',
           batch_name           VARCHAR(32) COMMENT '批次名称',
           flag                 VARCHAR(32) COMMENT '洗号码标识',
           org_code             VARCHAR(64) not null COMMENT '组织编码',
           org_id               INT(32) COMMENT '组织ID',
           city_name            VARCHAR(32) COMMENT '城市名',
           city_code            VARCHAR(32) COMMENT '城市code',
           line_type            INT(1) not null default 1 COMMENT '线路类型，1-SIP，2-网关',
           line_id              VARCHAR(16) COMMENT '实际拨打路线',
           remark               VARCHAR(255) COMMENT '备注描述',
           cust_name            VARCHAR(32) COMMENT '客户姓名',
           cust_company         VARCHAR(64) COMMENT '客户所属单位',
           PRIMARY KEY (plan_uuid),
            KEY idx_dispatch_plan_${orgId}_robot (robot),
            KEY idx_dispatch_plan_${orgId}_org_code (org_code),
            KEY idx_dispatch_plan_${orgId}_batch_id (batch_id),
            KEY idx_dispatch_plan_${orgId}_call_data (call_data),
            KEY idx_dispatch_plan_${orgId}_status_plan (status_plan),
            KEY idx_dispatch_plan_${orgId}_user_id (user_id),
            KEY idx_dispatch_plan_${orgId}_gmt_create (gmt_create),
            KEY idx_dispatch_plan_${orgId}_batch_name (batch_name),
            KEY idx_dispatch_plan_${orgId}_phone (phone),
            KEY idx_dispatch_plan_${orgId}_replay_type_is_del (replay_type,is_del),
            KEY idx_dispatch_plan_${orgId}_status_plan_gmt_create (status_plan,gmt_create)
        )
        ENGINE=INNODB DEFAULT CHARSET=utf8 ROW_FORMAT=DYNAMIC COMMENT='计划任务表'
    </update>

    <update id="createPlanTableIndex">
      CREATE INDEX indx_plan_${column}_${orgId} ON dispatch_plan_${orgId}
      (
         ${column}
      )
    </update>

    <update id="createLineTable">
        CREATE TABLE dispatch_lines_${orgId}
        (
           id                   INT(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
           planuuid             BIGINT(32) COMMENT 'planuuid',
           create_time          DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
           line_id              INT(11) COMMENT '线路ID',
           line_name            VARCHAR(32) COMMENT '线路名称',
           line_amount          DECIMAL(10,4) COMMENT '线路价格',
           overtArea            VARCHAR(32) COMMENT '线路外呼归属地',
           line_type            INT(1) NOT NULL DEFAULT 1 COMMENT '线路类型，1-SIP，2-网关',
           PRIMARY KEY (id)
        )
        ENGINE=INNODB DEFAULT CHARSET=utf8 COMMENT '计划线路表'
    </update>


    <update id="createLineTableIndex">
      CREATE INDEX indx_line_${column}_${orgId} ON dispatch_lines_${orgId}
      (
         ${column}
      )
    </update>

</mapper>